.event {
    padding: 0.5rem;
    margin: 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;

    background-color: white;
}

.event-dark {
    background-color: #272727;
}

.event-content-dark {
    background-color: #272727 !important;
    box-shadow: none !important;
}

.timeline-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    color: #0050ff;
}

.timeline-heading-dark {
    opacity: 87%;
    color: #FFEF8B;
}

.event-list {
    list-style: disc;
}
  
@media screen and (min-width: 55rem) {
    .timeline {
        position: relative;
    
        margin: 0 auto;
        max-width: 60rem;
    }
    
    .timeline::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
    
        width: 0.5rem;
    
        background-color: white;
    }

    .timeline-dark::after {
        opacity: 87%;
    }
    
    .event {
        position: relative;
    
        padding: 0.5rem 2.5rem;
        margin: 0;
        width: 40%;
        border: 0;

        background-color: inherit;
    }
    
    .event::after {
        content: '';
        position: absolute;
        right: -1rem;
        top: 1rem;
        z-index: 1;
        
        width: 1.5rem;
        height: 1.5rem;
        border: 4px solid #0050ff;
        border-radius: 50%;

        background-color: white;
    }
      
    .event-left {
        left: 1.25rem;
    }
    
    .event-left::before {
        content: " ";
        position: absolute;
        top: 1.5rem;
        right: 1.85rem;
        z-index: 1;

        height: 0;
        width: 0;
        border: medium solid white;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent white;
    }

    .event-left-dark::before {
        content: " ";
        position: absolute;
        top: 1.5rem;
        right: 1.85rem;
        z-index: 1;

        height: 0;
        width: 0;
        border: medium solid #272727;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent #272727; 
    }
    
    .event-right {
        left: 50.25%;
    }
      
    .event-right::before {
        content: " ";
        position: absolute;
        top: 1.5rem;
        left: 1.9rem;
        z-index: 1;

        height: 0;
        width: 0;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .event-right-dark::before {
        content: " ";
        position: absolute;
        top: 1.5rem;
        left: 1.9rem;
        z-index: 1;

        height: 0;
        width: 0;
        border: medium solid #272727;
        border-width: 10px 10px 10px 0;
        border-color: transparent #272727 transparent transparent;
    }
      
    .event-right::after {
        left: -1rem;
    }
    
    .event-content {
        position: relative;

        padding: 1.25rem;
        border-radius: 0.5rem;
        box-shadow: 0 0 1rem gray;

        background-color: white;
    }

    .timeline-heading {
        flex-direction: row;
    }

    .event-date-range {
        font-size: 1rem;
    }

    .organization-details {
        margin: 0;
    }

    .event-detail-heading {
        font-weight: 600;
    }
  }