.home-about {
    padding: 0 1rem 0 1rem;
}

.salutation {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: myriad-pro, sans-serif;
}

.name {
    margin-top: 0;
    margin-bottom: 0;

    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    color: #2678E0;
}

.about-resume {
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 1rem 0px gray;

    background-color: white;
    color: black;
}

.about-resume-dark {
    box-shadow: none;

    background-color: #272727;
}

.about-me {
    padding: 1rem 2rem 0 2rem;
}

.about-heading-dark {
    opacity: 87%;
}

.resume {
    padding: 0 2rem 2rem 2rem;
    margin-bottom: 1rem;
}

.resume-body {
    margin-bottom: 2rem;
}

.download-resume {
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;

    background-color: #FFAF5E;
    color: #0039BC;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
}

.download-resume:hover {
    box-shadow: 0.15rem 0.15rem 0.5rem black;
}
