.panels-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.panels {
  grid-column: span 12;

  padding: 0.5rem;
  border: 1px solid black;
  box-shadow: 0.5rem 0.5rem 1rem gray;

  background-color: #3D5E8C;
  color: white;
}

.panels + .panels {
  border-top: none;
}

.panels-dark {
  box-shadow: none;
  
  background-color: #272727;
}

.panel-heading {
 text-align: center;

 color: #FFEF8B;
}

.panel-heading-dark {
  color: white;
  opacity: 87%;
}

.panel-text {
  font-weight: 600;
}

.panel-text-dark {
  color: white;
  opacity: 60%;
}

.panel-image-right {
  aspect-ratio: 16/9;

  padding: 0.5rem;
  width: 20%;
  border-radius: 1rem;

  float: right;
}

.panel-image-left {
  aspect-ratio: 1/1;

  padding: 0.5rem;
  width: 20%;
  border-radius: 1rem;

  float: left;
}

/* -----------
-
Media query block
-
------- */
@media screen and (min-width: 44rem) {

  .panels {
      margin: 0.5rem;
      border-radius: 0.5rem;
  }

  .panels + .panels {
      border-top: 1px solid black;
  }

}