.progress {
    margin-left: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0.5rem 0.5rem 1rem gray;

    background-color: white;
}

.progress-dark {
    box-shadow: none;
    
    background-color: #272727;
}

.progress-element {
    display: grid;
    grid-template-columns: 1fr;

    padding: 0.5rem;
}

.progress-title {
    font-weight: 600;
    font-family: 'Roboto';
}

.progress-bar {
    width: 100%;

    align-self: center;
}

/* -----------
-
Media query block
-
------- */
@media screen and (min-width: 55rem) {
    
    .progress-element {
        display: grid;
        grid-template-columns: 10% auto;
    
        padding: 0.5rem;
    }

    .progress-bar {
        width: 50%;
    }

}