.form-container {
    border-radius: 1rem;
    box-shadow: 0 0 1rem gray;

    background-color: white;
}

.form-container-dark {
    box-shadow: none;
    
    background-color: #272727;
}

.form {
    display: flex;
    flex-direction: column;

    width: 100%;

    line-height: 2;
}

.form-field-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.form-label {
    grid-column: span 12;
    display: grid;
    grid-template-columns: 15% 1fr;

    padding: 1rem;
    padding-bottom: 0;
}

.form-span {
    grid-column: span 2;

    margin: 0;

    font-weight: 700;
}

.form-input {
    grid-column: span 2;

    padding: 1rem;
    border-radius: 0.5rem;
}

.form-checkbox-label {
    margin-left: 1rem;
    padding: 1rem 0;

    font-weight: 700;
}

.form-button {
    align-self: center;

    margin: 0.5rem;
    padding: 0.5rem;
    width: 40%;
    border: 1px solid #0061F5;
    border-radius: 2rem;

    background-color: #0061F5;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.disable-link {
    opacity: 50%;
    cursor: not-allowed;
}

.required:after {
    content: "*";
    color: #B00020;
}

.invalid {
    border: 2px solid #B00020;
}

.hide-error {
    display: none;
}

.error {
    grid-column: span 12;

    padding-left: 1rem;

    color: #B00020;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
}