.accordian {
    background-color: #2D63AE;
    color: white;
}

.accordian + .accordian {
    border-top: 0;
    border-bottom: 0;
}

.accordian-dark {
    background-color: #2c2c2c;
}

.border-round-top {
    border-radius: 1rem 1rem 0 0;
}

.border-round-bottom {
    border-radius: 0 0 1rem 1rem;
}

.accordian-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    border: 0;
    border-bottom: 2px solid darkgrey;

    background-color: #3D5E8C;
    color: white;
    font-size: 1rem;
}

.accordian-heading-dark {
    background-color: #272727;
}

.accordian-title {
    display: flex;
    align-items: center;

    height: 3rem;

    font-weight: 600;
}

.accordian-body {
    padding: 1rem;

    line-height: 1rem;
}

.accordian-content {
    padding-left: 1rem;
    padding-right: 1rem;
}

.education-level-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

/* Below CSS adapted from https://css.gg under the MIT License.*/
/* gg-chevron-right */
.gg-chevron-right {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px
   }
   
   .gg-chevron-right::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(-45deg);
    right: 6px;
    top: 4px
   } 
/* End of CSS adopted from https://css.gg under the MIT License */

/* -----------
-
Media query block
-
------- */

@media (prefers-reduced-motion: no-preference) {

    .accordian-body {
        display: none;

        transform: rotateX(90deg);
        transform-origin: top;

        transition: all 3s;
    }

    .accordian-body-open {
        display: initial;

        transform: rotateX(0deg);
    }

    .accordian-chevron {
        transform: rotate(0deg);
        transition: transform 1s;
    }

    .accordian-chevron-rotate {
        transform: rotate(90deg);
    }

}