.cards-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  margin-bottom: 0.5rem;
}

.cards-container-dark {
  background-color: #121212;
}

.cards {
  grid-column: span 12;
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid #3D5E8C;
  border-radius: 0.5rem;
  margin: 0.5rem;
  box-shadow: 0 0 0.5rem gray;

  background-color: #3D5E8C;
  color: white;
}

.cards-dark {
  border: 1px solid #272727;

  background-color: #272727;
  box-shadow: none;
}

.cards-image {
  aspect-ratio: 16/9;

  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
}

.cards-heading {
  text-align: center;
}

.card-heading-dark {
  color: #FFEF8B;
  opacity: 87%;
}

.cards-body {
 text-align: center;
}

.cards-link {
  display: inline-block;

  padding: 0.5rem;
  margin: 0.25rem 0.25rem 0.5rem 0.25rem;
  width: 50%;
  border: 1px solid #FFAF5E;
  border-radius: 1rem;

  background-color: #FFAF5E;
  color: #0039BC;
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
}

.cards-link:hover {
  border: 1px solid black;
  box-shadow: 0.15rem 0.15rem 0.5rem black;
}

/* -----------
-
Media query block
-
------- */

@media screen and (min-width: 44rem) {
  .cards {
      grid-column: span 3;
  }

}